{% extends 'base/base.html' %}

{% block title %}
  <title>Home</title>
{% endblock %}

{% block content %}

{% include 'base/header.html' %}

{% load static %}

<section class="hero" id="about">
  <div class="container">
    <div class="hero__image container container--pall">
      <img src="../../static/images/logo.svg" alt="Home">
    </div>

    <div class="hero__text container--pall">
      <h1>
        Backend Developer <br> Who Love Black
      </h1>
      <p>
          Ahmad Izzan Zahrial is a backend web developer who play with data and trying to make it into the real world step by step. Ps also loves to think.
      </p>
      <a href="#" class="button">Click Me</a>
    </div>
  </div>
</section>

<section class="skill container container--pall" id="skill">
  <h2>Skills</h2>
  <div class="skill__grid container--pall">
    <div class="skill__item">
      <div class="skill__header">
        <div class="skill__logo"><img src="{% static 'images/code-slash.svg' %}" alt="Language"></div>
        <div class="skill__title">Language</div>
      </div>
      <div class="skill__body">
        <div class="skill__skills">
          <div class="skill__title">Python</div>
          <div class="skill__icon"><img src="../../static/images/tools.svg" alt="Framework"></div>
        </div>
        <div class="skill__skills">
        <div class="skill__title">Javascript</div>
        <div class="skill__icon"><img src="../../static/images/tools.svg" alt="Framework"></div>
        </div>
        <div class="skill__skills">
        <div class="skill__title">C</div>
        <div class="skill__icon"><img src="../../static/images/tools.svg" alt="Framework"></div>
        </div>
        <div class="skill__skills">
        <div class="skill__title">Html/ Css/ Sass</div>
        <div class="skill__icon"><img src="../../static/images/tools.svg" alt="Framework"></div>
        </div>
      </div>
    </div>
    <div class="skill__item">
      <div class="skill__header">
        <div class="skill__logo"><img src="{% static 'images/terminal.svg' %}" alt="Framework"></div>
        <div class="skill__title">Framework</div>
      </div>
      <div class="skill__body">
        <div class="skill__skills">
          <div class="skill__title">Django</div>
          <div class="skill__icon"><img src="../../static/images/tools.svg" alt="Framework"></div>
        </div>
        <div class="skill__skills">
        <div class="skill__title">Rasa</div>
        <div class="skill__icon"><img src="../../static/images/tools.svg" alt="Framework"></div>
        </div>
        <div class="skill__skills">
        <div class="skill__title">Selenium</div>
        <div class="skill__icon"><img src="../../static/images/tools.svg" alt="Framework"></div>
        </div>
        <div class="skill__skills">
        <div class="skill__title">Bootstrap</div>
        <div class="skill__icon"><img src="../../static/images/tools.svg" alt="Framework"></div>
        </div>
      </div>
    </div>
    <div class="skill__item">
      <div class="skill__header">
        <div class="skill__logo"><img src="../../static/images/tools.svg" alt="Tools"></div>
        <div class="skill__title">Tools</div>
      </div>
      <div class="skill__body">
        <div class="skill__skills">
          <div class="skill__title">Visual Studio</div>
          <div class="skill__icon"><img src="../../static/images/tools.svg" alt="Framework"></div>
        </div>
        <div class="skill__skills">
        <div class="skill__title">Git/Github</div>
        <div class="skill__icon"><img src="../../static/images/tools.svg" alt="Framework"></div>
        </div>
        <div class="skill__skills">
        <div class="skill__title">Docker</div>
        <div class="skill__icon"><img src="../../static/images/tools.svg" alt="Framework"></div>
        </div>
      </div>
    </div>
    <div class="skill__item">
      <div class="skill__header">
        <div class="skill__logo"><img src="../../static/images/tools.svg" alt="Framework"></div>
        <div class="skill__title">Database</div>
      </div>
      <div class="skill__body">
        <div class="skill__skills">
          <div class="skill__title">Postgres</div>
          <div class="skill__icon"><img src="../../static/images/tools.svg" alt="Framework"></div>
        </div>
        <div class="skill__skills">
        <div class="skill__title">MySql</div>
        <div class="skill__icon"><img src="../../static/images/tools.svg" alt="Framework"></div>
        </div>
        <div class="skill__skills">
        <div class="skill__title">Sql</div>
        <div class="skill__icon"><img src="../../static/images/tools.svg" alt="Framework"></div>
        </div>
        <div class="skill__skills">
        <div class="skill__title">Database Design</div>
        <div class="skill__icon"><img src="../../static/images/tools.svg" alt="Framework"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="table container container--pall" id="projects">
  <h2>Projects</h2>
  <div class="container container--pall">
    <table class="table__all">
      <thead class="table__heads">
        <tr>
          <th class="table__head"><p>Name</p></th>
          <th class="table__head"><p>Description</p></th>
          {% comment %} <th class="table__head"><p>Created</p></th> {% endcomment %}
          <th class="table__head"><p>Link</p></th>
        </tr>
      </thead>
      <tbody>
        {% for repository in repositories %}
        <tr>
          <td class="table__data"><p>{{ repository.repo_name|title }}</p></td>
          <td class="table__data"><p>{{ repository.description }}</p></td>
          {% comment %} <td class="table__data"><p>{{ repository.created_date }}</p></td> {% endcomment %}
          <td><a href="{{ repository.url }}" class="button">Click</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<section class="contact container container--pall" id="contact">
  <h2>Contact Me</h2>
  <div class="contact__container">
    <div class="contact__info container container--pall">
      <div class="contact__box">
        <div class="contact__icon"><img src="../../static/images/tools.svg" alt="Framework" class="skill__tools"></div>
        <div class="contact__text">
          <h3>Email</h3>
          <p>izzanzahrial@outlook.com</p>
        </div>
      </div>
      <div class="contact__box">
        <div class="contact__icon"><img src="{% static 'images/linkedin.svg' %}" alt="Linkedin" class="skill__tools"></div>
        <div class="contact__text">
          <h3>Linkedin</h3>
          <p>asdasdasdasdsadsadsadadassa</p>
        </div>
      </div>
      <div class="contact__box">
        <div class="contact__icon"><img src="{% static 'images/instagram.svg' %}" alt="Instagram" class="skill__tools"></div>
        <div class="contact__text">
          <h3>Instagram</h3>
          <p>@iizzan</p>
        </div>
      </div>
    </div>
    <div class="contact__form container">
      <form method="POST">
        {% csrf_token %}
        <div class="contact__formbox">
          {{ form.name }}
          {{ form.email }}
          {{ form.message }}
          <input type="submit" value="Send" class="field">
        </div>
      </form>
    </div>
  </div>
</section>

{% include 'base/footer.html' %}

{% endblock %}