<footer class="footer">
    <div class="container">
        <a href="#" class="footer__logo">
        <img src="../../static/images/logo.svg" alt="Home">
        </a>

        <div class="footer__social">
        <a href="#">
            <img src="../../static/images/logo.svg" alt="Linkedin">
        </a>
        <a href="#">
            <img src="../../static/images/logo.svg" alt="Github">
        </a>
        <a href="#">
            <img src="../../static/images/logo.svg" alt="Leetcode">
        </a>
        <a href="#">
            <img src="../../static/images/logo.svg" alt="Instagram">
        </a>
        <a href="#">
            <img src="../../static/images/logo.svg" alt="Twitter">
        </a>
        </div>

        <div class="footer__links col1">
        <a href="{% url 'home' %}#about">About Me</a>
        <a href="{% url 'home' %}#skill">Skills</a>
        <a href="{% url 'home' %}#projects">Projects</a>
        {% if user.is_authenticated %}
        {% else %}
            <a href="{% url 'home' %}#contact">Contact</a>
        {% endif %}
        </div>

        <div class="footer__links col2">
        <a href="{% url 'home' %}">Blog</a>
        {% if user.is_authenticated %}
            <a href="{% url 'home' %}#contact">Contact</a>
        {% else %}
            <a href="{% url 'accounts:register' %}">Register</a>
            <a href="{% url 'accounts:login' %}">Login</a>
        {% endif %}
        <a href="">Category</a>
        </div>

        <div class="footer__cta">
        <a href="" class="button">Click me</a>
        </div>

        <div class="footer__copyright">
        &copy; Izzanzahrial. All Rights Reserved.
        </div>
    </div>
</footer>