{% extends '../base/base.html' %}

{% block title %}
    <title>Category</title>
{% endblock %}

{% block content %}

{% include 'base/header.html' %}

{% load humanize %}

<div class="categories__title container">
    <h1>List of {{ categories.category }} posts</h1>
    <p>
        {% with categories.posts.count as total_results %}
            Found {{ total_results }} result{{ total_results|pluralize }}
        {% endwith %}
    </p>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for post in categories.posts %}
            <div class="col-md-4">
                <a href="{{ post.get_absolute_url }}" class="text-dark">
                    <div class="card mb-4 box-shadow">
                        {% if post.image.url is not None %}
                            <img src="{{ post.image.url }}" alt="Card image" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title|truncatechars:50 }}</h2>
                            <p class="card-text">{{ post.body|truncatechars:50|safe }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">{{ post.post_date|naturalday }}</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include "base/footer.html" %}

{% endblock  %}