{% extends '../base/base.html' %}

{% block title %}
    <title>Blog Posts</title>
{% endblock %}

{% block content %}

{% include 'base/navbar.html' %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="col-12">
                    <h1>
                        <a class="text-dark" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </h1>
                </div>
                <div class="col-12"><p>{{ post.title_tag }}</p></div>
                <div class="col-12"><p>{{ post.post_date }}</p></div>
                <div class="col-12"><p>{{ post.category }}</p></div>        
            {% endfor %}
        </div>
    </div>
</div>

{% include "base/footer.html" %}

{% endblock %}