{% extends '../base/base.html' %}

{% block title %}
    <title>{{ post.title }}</title>
{% endblock %}

{% block content %}

{% include 'base/header.html' %}

{% load static %}

<div class="container">
    <div class="row justify-content-md-center pt-4">
        <div class="col-md-8 d-flex justify-content-between" style="flex-direction: column">
            <h1 class="post__title">{{ post.title }}</h1>
            <div class="col-12 no-gutters smaller">{{ post.title_tag }}</div>
        </div>
        <div class="col-md-8 d-flex justify-content-between">
            <div class="post__title-tag d-flex">
                <div class="post__title-tag-1 no-gutters smaller">{{ post.category|title }}</div>
                <div class="no-gutters smaller">{{ post.post_date }}</div>
            </div>
            <div class="d-flex">
            {% if request.user.is_authenticated %}
                <div class="pr-2">
                    <span class="" id="like_count">{{ post.like_count }}</span>
                    <button class="btn btn-link text-dark p-0 border-0" id="like-button" value="{{ post.id }}">
                        <img src="{% static 'images/like-button.svg' %}" class="post__icon-like">
                    </button>
                </div>
                {% if fav %}
                <div>
                    <a href="{% url 'accounts:add_favourite' post.id %}" class="text-dark">
                        <img src="{% static 'images/favourite-yes.svg' %}" class="post__icon">
                    </a>
                </div>
                {% else %}
                <div>
                    <a href="{% url 'accounts:add_favourite' post.id %}" class="text-dark">
                        <img src="{% static 'images/favourite-no.svg' %}" class="post__icon">
                    </a>
                </div>
                {% endif %}
                {% else %}
                <div class="pr-2">
                    <span class="" id="like_count">{{ post.like_count }}</span>
                    <a href="{% url 'accounts:register' %}" class="btn btn-link text-dark p-0 border-0" value="{{ post.id }}">
                        <img src="{% static 'images/like-button.svg' %}" class="post__icon-like">
                    </a>
                </div>
                <div>
                    <a href="{% url 'accounts:register' %}" class="text-dark"> 
                        <img src="{% static 'images/favourite-no.svg' %}" class="post__icon">
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-8 pt-3">
            {% if post.image.url is not None %}
                <img class="card-img-top pb-3" src="{{ post.image.url }}" alt="{{ post.title }}">
            {% endif %}
            <p class="mb-3">{{ post.body|safe }}</p>
        </div>
        <div class="col-md-8">
        {% with comments.count as total_comments %}
            <p class="mb-1 mt-3">{{ total_comments }} comment{{ total_comments|pluralize }}</p>
        {% endwith %}
            <div>
                <div class="my-2 p-2">
            {% for comment in comments %}
                    <div class="d-flex justify-content-between mb-2 fs-6">By {{ comment.name }}<div></div>{{ comment.publish }}</div>
                    <div class="fs-6">{{ comment.body|linebreaks }}</div>
                    {% empty %}
                    <p>There are no comment for this post</p>
            {% endfor %}
                </div>
            </div>
            <h4 class="mb-3">Make a new comment</h4>
            <form id="commentForm" method="POST">
                <div class="container">{{ comment_form }}</div>
                {% csrf_token %}
                <button type="submit" class="button">Submit</button>
            </form>
        </div>
        {% comment %} <div class="col-12">
            <h2>{{ post.title_tag }}</h2>
        </div>
        {% if post.image.url is not None %}
            <div class="col-12">
                <a href="{{ post.get_absolute_url }}">
                    <img src="../media/{{ post.image }}" alt="{{ post.title }}">
                </a>
            </div>
        {% endif %}
        <div class="col-12">
            <p>{{ post.body }}</p>
        </div>
        <div class="col-12">
            <p>{{ post.post_date }}</p>
        </div>
        <div class="col-12">
            <p>{{ post.category }}</p>
        </div>
        <a href={% url 'blog:posts' %}>Back</a>
        <div class="col-md-12">
            {% with comments.count as total_comments %}
                <h2>{{ total_comments }} comment{{ total_comments|pluralize }}
            {% endwith %}
            {% for comment in comments %}
                Comment {{ forloop.counter }} by {{ comment.name }}
                on {{ comment.publish }}
                {{ comment.body|linebreaks }}
                {% empty %}
                <p>There are no comment for this post</p>
            {% endfor %}
            
            <h2>Make a new comment</h2>

            <form id="commentForm" method="POST">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
        </div> {% endcomment %}
    </div>
</div>

{% include "base/footer.html" %}

<script>
$(document).on('click', '#like-button', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "accounts:like" %}',
      data: {
        postid: $('#like-button').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'post'
      },
      success: function (json) {
        document.getElementById("like_count").innerHTML = json['result']
      },
      error: function (xhr, errmsg, err) {

      }
    });
})
</script>

{% endblock content %}