{% extends '../base/base.html' %}

{% block title %}
    <title>Search</title>
{% endblock %}

{% block content %}

{% include '../base/header.html' %}

<form method="GET">
    {{ form.q.as_hidden }}
</form>

{% if q %}
    <div class="search__title container">
        <h1>Posts containing "{{ q }}"</h1>
        <p>
            {% with results.count as total_results %}
                Found {{ total_results }} result{{ total_results|pluralize }}
            {% endwith %}
        </p>
    </div>
{% endif %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for post in results %}
                <div class="col-md-4">
                    <a href="{{ post.get_absolute_url }}" class="text-dark">
                        <div class="card mb-4 box-shadow">
                            {% if post.image.url is not None %}
                            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top">
                            {% endif %}
                            <div class="card-body">
                                <h2 class="card-title">{{ post.title|truncatechars:50 }}</h2>
                                <p class="card-text">{{ post.title_tag }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">{{ post.post_date }}</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% empty %}
                <p>There are no result for your search
            {% endfor %}
        </div>
    </div>
</div>

{% include "base/footer.html" %}    

{% endblock %}