.hero {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include breakpoint-up(large) {
            flex-direction: row;
        }
    }
    
    &__image {
        flex: 1;
        order: 1;

        img {
            width: 25%;
            height: 25%;
        }

        @include breakpoint-up(large) {
            flex: 1;
            order: 2;
            
            img {
                width: 50%;
                height: 50%;
            }
        }
    }

    &__text {
        text-align: center;
        flex: 1;
        order: 2;

        @include breakpoint-up(large) {
            flex: 1;
            order: 1;
            text-align: left;
        }
    }
}